@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body{
    margin: 0;
    font-family: 'Shadows Into Light', cursive;
    color:rgba(51, 53, 52, 0.349);
}

h1{
    text-align: center;
    color: black;
    background-color: rgb(81, 211, 81);
    padding: 2rem;
    margin-top: -1rem;
    font-size: 3rem;

}

textarea{
    font-family: 'Shadows Into Light', cursive;
    width: 80%;
    display:block;
    margin: auto;
    padding: 1rem 4rem;
    border: 2px solid rgb(81, 211, 81);
    box-sizing: border-box;
    height: 5rem;
    border-radius: 25px;
    font-size: 20px;
    
}

button{
    margin-left: 10rem;
    background-color: rgb(81, 211, 81);
    padding: 1rem 2rem;
    border-radius: 15px;
    border-color: rgb(81, 211, 81);
    font-size: 1rem;
    font-family: 'Shadows Into Light', cursive;
}

#txtoutput{
    font-family: 'Shadows Into Light', cursive;
    border: 2px solid rgb(81, 211, 81);
    width: 80%;
    height: 5rem;
    margin: auto;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 25px;
    font-size: 20px;
    color: black;
    display: block;
}

.output{
    font-size: larger;
    margin: 0rem 10rem;
    color: rgb(71, 185, 71);
}

footer{
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    color: black;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(71, 185, 71);

}
footer p{
    margin: auto;
    font-size: 15px;
    font-weight: bolder;
    max-width: 600px;
}
